<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
  <toaster-container toaster-options="{'position-class': 'toast-top-right'}"></toaster-container>
  <div class="panel panel-danger">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-10">
          <h4>Carreras</h4>
        </div>
        <div class="col-md-2">
          <button class="btn btn-success btn-sm" ng-click="nuevaCarrera()" ng-if="esAdmin()" type="button">
            <span aria-hidden="true" class="fa fa-plus-circle"></span>
            Nueva Carrera
          </button>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped" ng-table="tablaCarreras" show-filter="true" template-pagination="custom/pager">
        <tr ng-repeat="carrera in $data">
          <td class="text-center" data-title="'Codigo'" filter="{ 'codigo': 'text' }">{{carrera.codigo}}</td>
          <td class="text-center" data-title="'Nombre'" filter="{ 'nombre': 'text' }">{{carrera.nombre}}</td>
          <td class="text-center" data-title="'Plan'">{{carrera.plan}}</td>
          <td class="text-center" data-title="'Escuela'">
            {{ carrera.escuela.nombre}}
          </td>
          <td class="text-center" data-title="'Acciones'" ng-if="esAdmin()">
            <button class="btn btn-warning btn-sm" ng-click="editarCarrera(carrera)" type="button">
              <span aria-hidden="true" class="fa fa-pencil-square "></span>
              Editar
            </button>
            <button class="btn btn-danger btn-sm" confirm="¿Estas seguro de eliminar la carrera {{carrera.nombre}}?" ng-click="eliminarCarrera(carrera._id)" type="button">
              <span aria-hidden="true" class="fa fa-minus-circle"></span>
              Eliminar
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<script id="custom/pager" type="text/ng-template">
  <ul class="ng-cloak pager">
    <li ng-class="{'disabled': !page.active}" ng-repeat="page in pages" ng-switch="page.type">
      <a href="" ng-click="params.page(page.number)" ng-switch-when="prev">&laquo;</a>
      <a href="" ng-click="params.page(page.number)" ng-switch-when="first">
        <span ng-bind="page.number"></span>
      </a>
      <a href="" ng-click="params.page(page.number)" ng-switch-when="page">
        <span ng-bind="page.number"></span>
      </a>
      <a href="" ng-click="params.page(page.number)" ng-switch-when="more">&#8230;</a>
      <a href="" ng-click="params.page(page.number)" ng-switch-when="last">
        <span ng-bind="page.number"></span>
      </a>
      <a href="" ng-click="params.page(page.number)" ng-switch-when="next">&raquo;</a>
    </li>
  </ul>
</script>
