<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
  <div class="panel panel-danger">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-10">
          <h4>Carreras</h4>
        </div>
        <div class="col-md-2">
          <button class="btn btn-success" ng-click="nuevaCarrera()" type="button" ng-if="esAdmin()">
            <span aria-hidden="true" class="fa fa-plus-circle"></span>
            Nueva Carrera
          </button>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped" ng-table="tableParams" show-filter="true" template-pagination="custom/pager">
        <tr ng-repeat="carrera in $data">
          <td class="text-center" data-title="'Codigo'" filter="{ 'codigo': 'text' }">{{carrera.codigo}}</td>
          <td class="text-center" data-title="'Nombre'" filter="{ 'nombre': 'text' }">{{carrera.nombre}}</td>
           <td class="text-center" data-title="'Plan'" >{{carrera.plan}}</td>
          <td class="text-center" data-title="'Escuela'" >
           {{ carrera.escuela.nombre}}
          </td>
          <td class="text-center" data-title="'Acciones'" ng-if="esAdmin()">
            <button class="btn btn-warning" type="button" ng-click="editarCarrera(carrera)">
              <span aria-hidden="true" class="fa fa-pencil-square "></span>
            </button>
            <button class="btn btn-danger" type="button">
              <span aria-hidden="true" class="fa fa-minus-circle"></span>
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<script id="custom/pager" type="text/ng-template">
  <ul class="ng-cloak pager">
    <li ng-class="{'disabled': !page.active}" ng-repeat="page in pages" ng-switch="page.type">
      <a href="" ng-click="params.page(page.number)" ng-switch-when="prev">&laquo;</a>
      <a href="" ng-click="params.page(page.number)" ng-switch-when="first">
        <span ng-bind="page.number"></span>
      </a>
      <a href="" ng-click="params.page(page.number)" ng-switch-when="page">
        <span ng-bind="page.number"></span>
      </a>
      <a href="" ng-click="params.page(page.number)" ng-switch-when="more">&#8230;</a>
      <a href="" ng-click="params.page(page.number)" ng-switch-when="last">
        <span ng-bind="page.number"></span>
      </a>
      <a href="" ng-click="params.page(page.number)" ng-switch-when="next">&raquo;</a>
    </li>
  </ul>
</script>

<script id="nueva-carrera.html" type="text/ng-template">
 <div class="modal-header">
   <h3 class="modal-title">Nueva Carrera</h3>
 </div>
 <div class="container-fluid">
  <form class="form" name="form" ng-submit="nuevaCarrera(form)" novalidate>
  <div class="form-group">
    <label>Codigo:</label>
    <input name="codigo" type="text" value=""  class="form-control" ng-model="carrera.codigo" required>
    <p class="help-block" ng-show="form.codigo.$error.required && submitted">
          El codigo de la carrera es requerido
        </p>
  
  </div>
  
  <div class="form-group">
    <label>Nombre:</label>
     <input name="nombre" type="text" value=""  class="form-control" ng-model="carrera.nombre" required>
     <p class="help-block" ng-show="form.nombre.$error.required && submitted">
          El nombre de la carrera es requerido
    </p>
  </div>
  <div class="form-group">
    <label>Plan:</label>
     <input name="plan" type="number" min="1990"   class="form-control" ng-model="carrera.plan" required>
    <p class="help-block" ng-show="form.plan.$error.required && submitted">
          El plan de la carrera es requerido
    </p>
  </div>
  <div class="form-group">
  <label>Escuela:</label>
  <SELECT NAME="tescuela" SIZE=1 onChange=" " class= "form-control" ng-model="carrera.escuela" ng-repeat="escuela in escuelas" required>
  <OPTION VALUE="{{escuela._id}} ">{{escuela.nombre}}</OPTION>
  </SELECT>
  <p class="help-block" ng-show="form.tescuela.$error.required && submitted">
        seleccione la carrera a la que pertenece la carrera
  </div>
</form>
  <div class="modal-footer">
  <button class="btn btn-success" ng-click="nuevaCarrera(form)" type="button">
   Agregar
  </button>
  <button class="btn btn-warning" ng-click="cancel()" type="button">
  Cancelar</button>
  </div>

</script>

<script id="editar-carrera.html" type="text/ng-template">
 <div class="modal-header">
   <h3 class="modal-title">Editar carrera</h3>
 </div>
 <div class="container-fluid">
   <form class="form" name="form" ng-submit="actualizarCarrera(form)" novalidate>
  <div class="form-group">
    <label>Codigo:</label>
    <input name="codigo" type="text" value=""  class="form-control" ng-model="carrera.codigo" required>
    <p class="help-block" ng-show="form.codigo.$error.required && submitted">
          El codigo de la carrera es requerido
        </p>
  
  </div>
  
  <div class="form-group">
    <label>Nombre:</label>
     <input name="nombre" type="text" value=""  class="form-control" ng-model="carrera.nombre" required>
     <p class="help-block" ng-show="form.nombre.$error.required && submitted">
          El nombre de la carrera es requerido
    </p>
  </div>
  <div class="form-group">
    <label>Plan:</label>
     <input name="plan" type="number" min="1990"   class="form-control" ng-model="carrera.plan" required>
    <p class="help-block" ng-show="form.plan.$error.required && submitted">
          El plan de la carrera es requerido
    </p>
  </div>
  <div class="form-group">
  <label>Escuela:</label>
  <SELECT NAME="tescuela" SIZE=1 onChange=" " class= "form-control" ng-model="carrera.escuela" ng-repeat="escuela in escuelas" required>
  <OPTION VALUE="{{escuela._id}} ">{{escuela.nombre}}</OPTION>
  </SELECT>
  <p class="help-block" ng-show="form.tescuela.$error.required && submitted">
        seleccione la carrera a la que pertenece la carrera
  </div>
</form>
     </form>
 </div>

  <div class="modal-footer">
  <button class="btn btn-success" ng-click="" type="button">
   Actualizar
  </button>
  <button class="btn btn-warning" ng-click="cancel()" type="button">
  Cancelar</button>
  </div>

</script>
