<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
  <div class="panel panel-danger">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-10">
          <h4>Horario</h4>
        </div>
        <div class="col-md-2">
          <a ng-if="hr.esRepresentante() && hr.periodoHorarios === true" class="btn btn-success" href="/horario/subir_horario_manual" type="button">
            <span aria-hidden="true" class="fa fa-plus-circle"></span>
            Nuevo horario
          </a>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped" ng-table="hr.tablaHorarios" show-filter="true" >
        <tr ng-repeat="horario in $data">
          <td class="text-center" data-title="'Escuela'" filter="{ 'nombre': 'text' }"> {{horario.escuela.nombre}}</td>
          <td class="text-center" data-title="'Ciclo'">{{horario.ciclo.numero}}</td>
          <td class="text-center" data-title="'Año'">
           {{horario.ciclo.anio}}
          </td>
          <td class="text-center" data-title="'Acciones'">
           <button class="btn btn-success  btn-sm" type="button" ng-click="hr.horarioDetalle(horario)">
              <span aria-hidden="true" class="fa fa-info-circle "></span>
              Mostrar
            </button>
          </td>
        </tr>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>


<script id="horario-detalle.html" type="text/ng-template">
 <div class="modal-header">
   <h3 class="modal-title">Detalle Horario</h3>
 </div>
 <div class="container-fluid">
  <div class="table-responsive" id="horarioDiv">
    <table class="table table-condensed table-bordered table-hover table" ng-form="tableForm" ng-table="tablaHorarioDetalle">
      <colgroup>
        <col width="10%"/>
        <col width="10%"/>
        <col width="10%"/>
        <col width="10%"/>
        <col width="10%"/>
        <col width="10%"/>
        <col width="10%"/>
        <col width="10%"/>
        <col width="10%"/>
        <col width="10%"/>
      </colgroup>
      <tr class="ng-table-group" ng-repeat-start="group in $groups">
        <td colspan="10">
          <a href="" ng-click="group.$hideRows = !group.$hideRows">
            <span class="glyphicon" ng-class="{ 'glyphicon-chevron-right': group.$hideRows, 'glyphicon-chevron-down': !group.$hideRows }"></span>
            <strong>{{ group.value }}</strong>
          </a>
        </td>
      </tr>
      <tr ng-hide="group.$hideRows" ng-repeat-end ng-repeat="grupo in group.data">
        <td data-title="'Código'" ng-if="false">
          {{grupo.materia.nombre}}
        </td>
        <td data-title="'Materia'" sortable="'nmateria'">
          {{grupo.tipo}}
        </td>
        <td data-title="'#'">
          {{grupo.numero}}
        </td>
        <td data-title="'Cupo'">
          {{grupo.cupo}}
        </td>
        <td data-title="'Aula'">
          {{grupo.aula.nombre}}
        </td>
        <td data-title="'Dia 1'">
          <span ng-if="grupo.dia1 == 1">Lunes</span>
          <span ng-if="grupo.dia1 == 2">Martes</span>
          <span ng-if="grupo.dia1 == 3">Miércoles</span>
          <span ng-if="grupo.dia1 == 4">Jueves</span>
          <span ng-if="grupo.dia1 == 5">Viernes</span>
          <span ng-if="grupo.dia1 == 6">Sábado</span>
        </td>
        <td data-title="'Franja'">
          {{grupo.franja1.franja}}
        </td>
        <td data-title="'Dia 2'">
          <span ng-if="grupo.dia2 == 1">Lunes</span>
          <span ng-if="grupo.dia2 == 2">Martes</span>
          <span ng-if="grupo.dia2 == 3">Miércoles</span>
          <span ng-if="grupo.dia2 == 4">Jueves</span>
          <span ng-if="grupo.dia2 == 5">Viernes</span>
          <span ng-if="grupo.dia2 == 6">Sábado</span>
        </td>
        <td data-title="'Franja'">
          {{grupo.franja2.franja}}
        </td>
        <td data-title="'Docente'">
          {{grupo.docente.nombre}}
        </td>

      </tr>
    </table>

</div>
  <div class="modal-footer">
    <a class="btn btn-success" href="/api/horarios/reporte/{{horario._id}}" ng-click="" target="_blank" type="button">
     Mostrar Reporte Horarios</a>
  <button class="btn btn-warning" ng-click="cancel()" type="button">
  Cerrar</button>
  </div>
</script>
