<navbar></navbar>
<div class="container">
  <toaster-container toaster-options="{'position-class': 'toast-top-right'}"></toaster-container>
  <div class="panel panel-danger">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-10">
          <h4>Ciclos</h4>
        </div>
        <div class="col-md-2" ng-if="cc.esAdmin()">
          <button class="btn btn-success  btn-sm" ng-click="cc.nuevoCiclo()" type="button">
            <span aria-hidden="true" class="fa fa-plus-circle"></span>
            Nuevo Ciclo
          </button>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped" ng-table="tablaCiclos" show-filter="true" template-pagination="custom/pager">

        <tr ng-repeat='ciclo in $data'>
          <td class='text-center' data-title="'Ciclo'">
            {{ciclo.numero}}</td>
          <td class='text-center' data-title="'Año del ciclo'">
            {{ciclo.anio}}
          </td>
          <td class='text-center' data-title="'Inicio de clases'">
            {{ciclo.inicioClases | date:'d/MM/yy'}}
          </td>
          <td class='text-center' data-title="'Fin de clases'">
            {{ciclo.finClases | date:'d/MM/yy'}}
          </td>
          <td class='text-center' data-title="'Inicio de ciclo'">
            {{ciclo.inicioCiclo | date:'d/MM/yy'}}</td>
          <td class='text-center' data-title="'Fin de ciclo'">
            {{ciclo.finCiclo | date:'d/MM/yy'}}
          </td>
          <td class='text-center' data-title="'Inicio de subida de horario'">
            {{ciclo.inicioSubidaHorario | date:'d/MM/yy'}}</td>
          <td class='text-center' data-title="'Fin de subida de horario'">
            {{ciclo.finSubidaHorario| date:'d/MM/yy'}}
          </td>
          <td class="text-center" data-title="'Acciones'" ng-if="cc.esAdmin()">
            <button class="btn btn-warning btn-sm" ng-click="cc.editarCiclo(ciclo)" type="button">
              <span aria-hidden="true" class="fa fa-pencil "></span>
              Editar
            </button>
            <button class="btn btn-danger btn-sm" type="button" ng-click="cc.eliminarCiclo(ciclo._id)" confirm="¿Estas seguro de eliminar el ciclo {{ciclo.numero}} {{ciclo.anio}}?">
              <span aria-hidden="true" class="fa fa-minus-circle"></span>
              Eliminar
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<script id="custom/pager" type="text/ng-template">
  <ul class="ng-cloak pager">
    <li ng-class="{'disabled': !page.active}" ng-repeat="page in pages" ng-switch="page.type">
      <a href="" ng-click="params.page(page.number)" ng-switch-when="prev">&laquo;</a>
      <a href="" ng-click="params.page(page.number)" ng-switch-when="first">
        <span ng-bind="page.number"></span>
      </a>
      <a href="" ng-click="params.page(page.number)" ng-switch-when="page">
        <span ng-bind="page.number"></span>
      </a>
      <a href="" ng-click="params.page(page.number)" ng-switch-when="more">&#8230;</a>
      <a href="" ng-click="params.page(page.number)" ng-switch-when="last">
        <span ng-bind="page.number"></span>
      </a>
      <a href="" ng-click="params.page(page.number)" ng-switch-when="next">&raquo;</a>
    </li>
  </ul>
</script>
<script id="editar-ciclo.html" type="text/ng-template">
  <div class="modal-header">
    <h3 class="modal-title">Editar Ciclo</h3>
  </div>

  <div class="container-fluid">
    <div class="form-group">
      <label>Ciclo</label>
      <select class="form-control">
        <option value="1">I</option>
        <option value="2">II</option>
      </select>
    </div>
    <div class="form-group">
      <label>Año</label>
      <input class="form-control" name="anio" type="number" value="" ng-model="ciclox.anio">
    </div>

    <div class="form-group">
      <label>Inicio de Ciclo</label>
      <input class="form-control" name="inicioCiclo" type="date" value="" ng-model="ciclox.inicioCiclo">
    </div>

    <div class="form-group">
      <label>Fin de Ciclo</label>
      <input class="form-control" name="finCiclo" type="date" ng-model="ciclox.finCiclo">
    </div>
    <div class="form-group">
      <label>Inicio de Clases</label>
      <input class="form-control" name="inicioClases" type="date" value="" ng-model="ciclox.inicioClases">
    </div>
    <div class="form-group">
      <label>Fin de Clases</label>
      <input class="form-control" name="finClases" type="date" value="" ng-model="ciclox.finClases">
    </div>
    <div class="form-group">
      <label>Inicio de subida de horarios</label>
      <input class="form-control" name="inicioClases" type="date" value="" ng-model="ciclox.inicioSubidaHorario">
    </div>
    <div class="form-group">
      <label>Fin de subida de horarios</label>
      <label></label>
      <input class="form-control" name="finClases" type="date" value="" ng-model="ciclox.finSubidaHorario">
    </div>
  </div>

  <div class="modal-footer">

    <button class="btn btn-success" ng-click="editar()" type="button">
      Editar
    </button>
    <button class="btn btn-warning" ng-click="cancel()" type="button">
      Cancelar</button>
  </div>

</script>
