#section1 {
 background-color:#B71C1C;
 color: white;
 margin-top: -100px;
}
#section2 {
 background-color:#C62828;
 color: white;
}
#section3 {
 background-color: #D32F2F;
 color: white;
}

.icon-main{
 font-size: 100px;
}

.contenido {
 position: relative;
padding: 20vh 10%;
min-height: 100vh;
width: 100vw;
box-sizing: border-box;
box-shadow: 0 0px 10px rgba(0, 0, 0, .7);
transform-style: inherit;
}
