<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
 <span us-spinner="{radius:30, width:8, length: 16}"></span>
 <toaster-container toaster-options="{'position-class': 'toast-top-right'}"></toaster-container>
 <div class="form-group">
  <label for="tipoReserva">Elige el estado de la reserva a consultar:</label>
   <select name="tipoReserva" id="tipoReserva" class="form-control" style="font-family: 'FontAwesome', Helvetica;" ng-model="tipoReserva" ng-change="cambiarTipoReserva(tipoReserva)">
    <option value="espera">En Espera</option>
    <option value="aprobados" >Aprobados</option>
    <option value="enviados_escuela_admin">Enviados a escuela</option>
    <option value="desaprobados">Rechazados</option>
    <option value="cancelados">Cancelados</option>
   </select>
 </div>
 <table class="table table-striped table-hover" ng-table="solicitudesAdmin" template-pagination="custom/pager">
       <tbody ng-repeat="actividad in $data">
         <tr class="fila" ng-click="detalleReserva(actividad._id, tipoReserva)">
           <td class="text-center" data-title="'Fecha de solicitud'" sortable="'fechaCreacion'">
             {{actividad.fechaCreacion | date:'MMM d, y HH:mm'}}
           </td>
           <td class="text-center" data-title="'Solicitante'">
             {{actividad.encargado.nombre}}
           </td>
           <td class="text-center" data-title="'Actividad'">
             {{actividad.nombre}}
           </td>
           <td class="text-center" data-title="'Materia'">
             {{actividad.materia.nombre}}
           </td>
           <td class="text-center" data-title="'Escuela'" sortable="'nescuela'">
             {{actividad.nescuela}}
           </td>
         </tr>
       </tbody>
  </table>
</div>
<script id="custom/pager" type="text/ng-template">
  <ul class="ng-cloak pager">
    <li ng-class="{'disabled': !page.active}" ng-repeat="page in pages" ng-switch="page.type">
      <a href="" ng-click="params.page(page.number)" ng-switch-when="prev">&laquo;</a>
      <a href="" ng-click="params.page(page.number)" ng-switch-when="first">
        <span ng-bind="page.number"></span>
      </a>
      <a href="" ng-click="params.page(page.number)" ng-switch-when="page">
        <span ng-bind="page.number"></span>
      </a>
      <a href="" ng-click="params.page(page.number)" ng-switch-when="more">&#8230;</a>
      <a href="" ng-click="params.page(page.number)" ng-switch-when="last">
        <span ng-bind="page.number"></span>
      </a>
      <a href="" ng-click="params.page(page.number)" ng-switch-when="next">&raquo;</a>
    </li>
  </ul>
</script>
