<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
  <toaster-container toaster-options="{'position-class': 'toast-top-right'}"></toaster-container>
  <div class="panel panel-danger">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-10">
          <h4>Materias</h4>
        </div>
        <div class="col-md-2" ng-if="mc.esAdmin()">
          <button class="btn btn-success btn-sm" ng-click="mc.nuevaMateria()" type="button">
            <span aria-hidden="true" class="fa fa-plus-circle"></span>
            Nueva Materia
          </button>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped" ng-table="tablaMaterias" show-filter="true" template-pagination="custom/pager">
        <tr ng-repeat="materia in $data">
          <td class="text-center" data-title="'Codigo'" filter="{ 'codigo': 'text' }">{{materia.codigo}}</td>
          <td class="text-center" data-title="'Nombre'">{{materia.nombre}}</td>
          <td class="text-center" data-title="'Tipo'">{{materia.tipo}}</td>
          <td class="text-center" data-title="'Escuela'">{{materia.escuela.nombre}}</td>
          <td class="text-center" data-title="'Carreras'">
            <div ng-repeat="carrera in materia.carreras">
              {{carrera.codigo}}
            </div>
          </td>
          <td class="text-center" data-title="'Ciclo'">
            <div ng-if="materia.imparteEnCiclo === 1">
              Ciclo I
            </div>
            <div ng-if="materia.imparteEnCiclo === 2">
              Ciclo II
            </div>
            <div ng-if="materia.imparteEnCiclo === 3">
              Ambos
            </div>
          </td>

          <td class="text-center" data-title="'Acciones'" ng-if="mc.esAdmin()">
            <button class="btn btn-warning btn-sm" ng-click="mc.editarMateria(materia)" type="button">
              <span aria-hidden="true" class="fa fa-pencil-square "></span>
              Editar
            </button>
            <button class="btn btn-danger btn-sm" confirm="¿Estas seguro de eliminar la materia {{materia.nombre}}?" ng-click="mc.eliminarMateria(materia._id)" type="button">
              <span aria-hidden="true" class="fa fa-minus-circle"></span>
              Eliminar
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<script id="custom/pager" type="text/ng-template">
  <ul class="ng-cloak pager">
    <li ng-class="{'disabled': !page.active}" ng-repeat="page in pages" ng-switch="page.type">
      <a href="" ng-click="params.page(page.number)" ng-switch-when="prev">&laquo;</a>
      <a href="" ng-click="params.page(page.number)" ng-switch-when="first">
        <span ng-bind="page.number"></span>
      </a>
      <a href="" ng-click="params.page(page.number)" ng-switch-when="page">
        <span ng-bind="page.number"></span>
      </a>
      <a href="" ng-click="params.page(page.number)" ng-switch-when="more">&#8230;</a>
      <a href="" ng-click="params.page(page.number)" ng-switch-when="last">
        <span ng-bind="page.number"></span>
      </a>
      <a href="" ng-click="params.page(page.number)" ng-switch-when="next">&raquo;</a>
    </li>
  </ul>
</script>
