<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
 <toaster-container toaster-options="{'position-class': 'toast-top-right'}"></toaster-container>
  <div class="panel panel-danger">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-10">
          <h4>Aulas</h4>
        </div>
        <div class="col-md-2" ng-if="esAdmin()">
          <button class="btn btn-success" ng-click="nuevaAula()" type="button">
            <span aria-hidden="true" class="fa fa-plus-circle"></span>
            Nueva Aula
          </button>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped" ng-table="tablaAulas" show-filter="true" template-pagination="custom/pager">
        <tr ng-repeat="aula in $data">
          <td class="text-center" data-title="'Nombre'" filter="{ 'nombre': 'text' }">{{aula.nombre}}</td>
          <td class="text-center" data-title="'Descripción'">{{aula.descripcion}}</td>
          <td class="text-center" data-title="'Estado'">
            <span aria-hidden="true" class="fa fa-circle" ng-class="{'verde':aula.estado == true, 'fa-close rojo':aula.estado == false }"></span>
          </td>
          <td class="text-center" data-title="'Sonido'">
            <span aria-hidden="true" class="fa" ng-class="{'fa-check verde':aula.sonido == true, 'fa-close rojo':aula.sonido == false }"></span>
          </td>
          <td class="text-center" data-title="'Pizarra'">
            <span aria-hidden="true" class="fa" ng-class="{'fa-check verde':aula.pizarra.pizarra == true, 'fa-close rojo':aula.pizarra.pizarra == false }"></span>
              <div ng-if="aula.pizarra.pizarra === true && aula.pizarra.tipo == 1">
                  Madera
              </div>
              <div ng-if="aula.pizarra.pizarra === true && aula.pizarra.tipo == 2">
                  Acrílico
              </div>
          </td>
          <td class="text-center" data-title="'Capacidad'">{{aula.capacidad}}</td>
          <td class="text-center" data-title="'Acciones'" ng-if="esAdmin()">
            <button class="btn btn-warning" type="button" ng-click="editarAula(aula)">
              <span aria-hidden="true" class="fa fa-pencil-square "></span>
            </button>
            <button class="btn btn-danger" type="button" ng-click="eliminarAula(aula._id)" confirm="¿Estas seguro de eliminar el aula {{aula.nombre}}?">
              <span aria-hidden="true" class="fa fa-minus-circle"></span>
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<script id="custom/pager" type="text/ng-template">
  <ul class="ng-cloak pager">
    <li ng-class="{'disabled': !page.active}" ng-repeat="page in pages" ng-switch="page.type">
      <a href="" ng-click="params.page(page.number)" ng-switch-when="prev">&laquo;</a>
      <a href="" ng-click="params.page(page.number)" ng-switch-when="first">
        <span ng-bind="page.number"></span>
      </a>
      <a href="" ng-click="params.page(page.number)" ng-switch-when="page">
        <span ng-bind="page.number"></span>
      </a>
      <a href="" ng-click="params.page(page.number)" ng-switch-when="more">&#8230;</a>
      <a href="" ng-click="params.page(page.number)" ng-switch-when="last">
        <span ng-bind="page.number"></span>
      </a>
      <a href="" ng-click="params.page(page.number)" ng-switch-when="next">&raquo;</a>
    </li>
  </ul>
</script>

<script id="nueva-aula.html" type="text/ng-template">
 <div class="modal-header">
   <h3 class="modal-title">Nueva Aula</h3>
 </div>
 <div class="container-fluid">
  <div class="form-group">
    <label>Nombre:</label>
    <input name="nombre" type="text" value=""  class="form-control" ng-model="aula.nombre">
  </div>
  <div class="form-group">
    <label>Descripción:</label>
     <textarea name="descripcion" rows="5" cols="20" class="form-control" ng-model="aula.descripcion"></textarea>
  </div>
  <div class="form-group">
    <label>Estado:</label>
     <select class="form-control" name="estado" ng-model="aula.estado">
       <option value="true">Habilitado</option>
       <option value="false">Deshabilitado</option>
     </select>
  </div>
  <div class="form-group">
    <label>Capacidad:</label>
    <input type="number" name="name"  min="0" class="form-control" ng-model="aula.capacidad">
  </div>
    <label>Sonido:</label>
     <input type="checkbox" name="name" value="false" class="" ng-model="aula.sonido">
     <div class="form-group">
      <label>Pizarra:</label>
       <input type="checkbox" name="name" value="false" class="" ng-model="aula.pizarra.pizarra">
       <div ng-if="aula.pizarra.pizarra" >
        <label>Tipo de Pizarra:</label>
         <select class="form-control" name="estado" ng-model="aula.pizarra.tipo">
           <option value="1">Madera</option>
           <option value="2">Acrílico</option>
         </select>
       </div>
     </div>

 </div>

  <div class="modal-footer">
  <button class="btn btn-success" ng-click="enviar()" type="button">
   Agregar
  </button>
  <button class="btn btn-warning" ng-click="cancel()" type="button">
  Cancelar</button>
  </div>

</script>
<script id="editar-aula.html" type="text/ng-template">
 <div class="modal-header">
   <h3 class="modal-title">Editar Aula</h3>
 </div>
 <div class="container-fluid">
  <div class="form-group">
    <label>Nombre:</label>
    <input name="nombre" type="text"  class="form-control" ng-model="aula.nombre">
  </div>
  <div class="form-group">
    <label>Descripción:</label>
     <textarea name="descripcion" rows="5" cols="20" class="form-control" ng-model="aula.descripcion"></textarea>
  </div>
  <div class="form-group">
    <label>Estado:</label>
     <select class="form-control" name="estado" ng-model="aula.estado">
       <option value="true">Habilitado</option>
       <option value="false">Deshabilitado</option>

     </select>
  </div>
  <div class="form-group">
    <label>Capacidad:</label>
    <input type="number" name="name"  min="0" class="form-control" ng-model="aula.capacidad">
  </div>
    <label>Sonido:</label>
     <input type="checkbox" name="name" ng-model="aula.sonido" >
     <div class="form-group">
      <label>Pizarra:</label>
       <input type="checkbox" name="name" value="false" class="" ng-model="aula.pizarra.pizarra">
       <div ng-if="aula.pizarra.pizarra" >
        <label>Tipo de Pizarra:</label>
         <select class="form-control" name="estado" ng-model="aula.pizarra.tipo">
           <option value="1">Madera</option>
           <option value="2">Acrílico</option>
         </select>
       </div>
     </div>
 </div>

  <div class="modal-footer">
  <button class="btn btn-success" ng-click="actualizar()" type="button">
   Actualizar
  </button>
  <button class="btn btn-warning" ng-click="cancel()" type="button">
  Cancelar</button>
  </div>

</script>
