<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
  <toaster-container toaster-options="{'position-class': 'toast-top-right'}"></toaster-container>
  <div class="panel panel-danger">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-10">
          <h4>Aulas</h4>
        </div>
        <div class="col-md-2" ng-if="esAdmin()">
          <button class="btn btn-success btn-sm" ng-click="nuevaAula()" type="button">
            <span aria-hidden="true" class="fa fa-plus-circle"></span>
            Nueva Aula
          </button>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped" ng-table="tablaAulas" show-filter="true" template-pagination="custom/pager">
        <tr ng-repeat="aula in $data">
          <td class="text-center" data-title="'Nombre'" filter="{ 'nombre': 'text' }">{{aula.nombre}}</td>
          <td class="text-center" data-title="'Descripción'">{{aula.descripcion}}</td>
          <td class="text-center" data-title="'Estado'">
            <span aria-hidden="true" class="fa fa-circle" ng-class="{'verde':aula.estado == true, 'fa-close rojo':aula.estado == false }"></span>
          </td>
          <td class="text-center" data-title="'Sonido'">
            <span aria-hidden="true" class="fa" ng-class="{'fa-check verde':aula.sonido == true, 'fa-close rojo':aula.sonido == false }"></span>
          </td>
          <td class="text-center" data-title="'Pizarra'">
            <span aria-hidden="true" class="fa" ng-class="{'fa-check verde':aula.pizarra.pizarra == true, 'fa-close rojo':aula.pizarra.pizarra == false }"></span>
            <div ng-if="aula.pizarra.pizarra === true && aula.pizarra.tipo == 1">
              Madera
            </div>
            <div ng-if="aula.pizarra.pizarra === true && aula.pizarra.tipo == 2">
              Acrílico
            </div>
          </td>
          <td class="text-center" data-title="'Capacidad'">{{aula.capacidad}}</td>
          <td class="text-center" data-title="'Acciones'" ng-if="esAdmin()">
            <button class="btn btn-warning btn-sm" ng-click="editarAula(aula)" type="button">
              <span aria-hidden="true" class="fa fa-pencil-square "></span>
              Editar
            </button>
            <button class="btn btn-danger btn-sm" confirm="¿Estas seguro de eliminar el aula {{aula.nombre}}?" ng-click="eliminarAula(aula._id)" type="button">
              <span aria-hidden="true" class="fa fa-minus-circle"></span>
              Eliminar
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<script id="custom/pager" type="text/ng-template">
  <ul class="ng-cloak pager">
    <li ng-class="{'disabled': !page.active}" ng-repeat="page in pages" ng-switch="page.type">
      <a href="" ng-click="params.page(page.number)" ng-switch-when="prev">&laquo;</a>
      <a href="" ng-click="params.page(page.number)" ng-switch-when="first">
        <span ng-bind="page.number"></span>
      </a>
      <a href="" ng-click="params.page(page.number)" ng-switch-when="page">
        <span ng-bind="page.number"></span>
      </a>
      <a href="" ng-click="params.page(page.number)" ng-switch-when="more">&#8230;</a>
      <a href="" ng-click="params.page(page.number)" ng-switch-when="last">
        <span ng-bind="page.number"></span>
      </a>
      <a href="" ng-click="params.page(page.number)" ng-switch-when="next">&raquo;</a>
    </li>
  </ul>
</script>

<script id="nueva-aula.html" type="text/ng-template">
  <div class="modal-header">
    <h3 class="modal-title">Nueva Aula</h3>
  </div>
  <div class="container-fluid">
    <form class="form" name="formu" novalidate>
      <div class="form-group" ng-class="{'has-success': formu.nombre.$valid && submitted, 'has-error': formu.nombre.$invalid && submitted}">
        <label>Nombre:</label>
        <input class="form-control" mongoose-error name="nombre" ng-model="aula.nombre" required type="text"/>
        <p class="help-block" ng-show="formu.nombre.$error.required && submitted">
          El nombre es requerido
        </p>
        <p class="help-block" ng-show="formu.nombre.$error.mongoose">
          {{ errors.nombre }}
        </p>
      </div>

      <div class="form-group" ng-class="{ 'has-success': formu.descripcion.$valid && submitted,
                                      'has-error': formu.descripcion.$invalid && submitted }">
        <label>Descripción:</label>
        <textarea class="form-control" cols="20" name="descripcion" ng-model="aula.descripcion" required rows="5"></textarea>
        <p class="help-block" ng-show="formu.descripcion.$error.required && submitted">
          La descripcion es requerida
        </p>

      </div>
      <div class="form-group" ng-class="{ 'has-success': formu.estado.$valid && submitted,
                                      'has-error': formu.estado.$invalid && submitted }">
        <label>Estado:</label>
        <select class="form-control" name="estado" ng-model="aula.estado" required>
          <option value="true">Habilitado</option>
          <option value="false">Deshabilitado</option>
        </select>
        <p class="help-block" ng-show="formu.estado.$error.required && submitted">
          El estado es requerido
        </p>
      </div>
      <div class="form-group" ng-class="{ 'has-success': formu.capacidad.$valid && submitted,
                                      'has-error': formu.capacidad.$invalid && submitted }">
        <label>Capacidad:</label>
        <input class="form-control" min="0" name="capacidad" ng-model="aula.capacidad" type="number">
        <p class="help-block" ng-show="formu.capacidad.$error.required && submitted">
          la capacidad es requerida
        </p>
      </div>
      <label>Sonido:</label>
      <input class="" name="sonido" ng-model="aula.sonido" type="checkbox" value="false">
      <div class="form-group">
        <label>Pizarra:</label>
        <input class="" name="pizarra" ng-model="aula.pizarra.pizarra" type="checkbox" value="false">
        <div ng-if="aula.pizarra.pizarra">
          <label>Tipo de Pizarra:</label>
          <select class="form-control" name="tipoPizarra" ng-model="aula.pizarra.tipo">
            <option value="1">Madera</option>
            <option value="2">Acrílico</option>
          </select>
          <p class="help-block" ng-show="formu.pizarra.$error.required && submitted">
           Campo requerido.
          </p>
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button class="btn btn-success" ng-click="enviarAula(formu)" type="button">
      Agregar
    </button>
    <button class="btn btn-warning" ng-click="cancel()" type="button">
      Cancelar</button>
  </div>
</script>
<script id="editar-aula.html" type="text/ng-template">
  <div class="modal-header">
    <h3 class="modal-title">Editar Aula</h3>
  </div>
  <div class="container-fluid">
    <div class="form-group">
      <label>Nombre:</label>
      <input class="form-control" name="nombre" ng-model="aula.nombre" type="text">
    </div>
    <div class="form-group">
      <label>Descripción:</label>
      <textarea class="form-control" cols="20" name="descripcion" ng-model="aula.descripcion" rows="5"></textarea>
    </div>
    <div class="form-group">
      <label>Estado:</label>
      <select class="form-control" name="estado" ng-model="aula.estado">
        <option value="true">Habilitado</option>
        <option value="false">Deshabilitado</option>

      </select>
    </div>
    <div class="form-group">
      <label>Capacidad:</label>
      <input class="form-control" min="0" name="name" ng-model="aula.capacidad" type="number">
    </div>
    <label>Sonido:</label>
    <input name="name" ng-model="aula.sonido" type="checkbox">
    <div class="form-group">
      <label>Pizarra:</label>
      <input class="" name="name" ng-model="aula.pizarra.pizarra" type="checkbox" value="false">
      <div ng-if="aula.pizarra.pizarra">
        <label>Tipo de Pizarra:</label>
        <select class="form-control" name="estado" ng-model="aula.pizarra.tipo">
          <option value="1">Madera</option>
          <option value="2">Acrílico</option>
        </select>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-success" ng-click="actualizar()" type="button">
      Actualizar
    </button>
    <button class="btn btn-warning" ng-click="cancel()" type="button">
      Cancelar</button>
  </div>

</script>
