<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
  <toaster-container toaster-options="{'position-class': 'toast-top-right'}"></toaster-container>
  <div class="panel panel-danger">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-10">
          <h4>Usuarios del sistema</h4>
        </div>
        <div class="col-md-2">
          <button class="btn btn-success" ng-click="nuevoUsuario()" type="button">
            <span aria-hidden="true" class="fa fa-plus-circle"></span>
            Nuevo Usuario
          </button>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped" ng-table="tablaUsuarios" show-filter="true" template-pagination="custom/pager">
        <tr ng-repeat="usuario in $data">
          <td class="text-center" data-title="'Usuario'" filter="{ 'nombre': 'text' }">{{usuario.username}}</td>
          <td class="text-center" data-title="'Nombre'">{{usuario.name}}</td>
          <td class="text-center" data-title="'Rol'">
            {{usuario.role}}
          </td>
          <td class="text-center" data-title="'Acciones'">
            <button class="btn btn-warning" ng-click="editarUsuario(usuario)" type="button">
              <span aria-hidden="true" class="fa fa-pencil-square "></span>
            </button>
            <button class="btn btn-danger" type="button" ng-click="eliminarUsuario(usuario._id)" confirm="¿Estas seguro de eliminar el usuario {{usuario.name}}?">
              <span aria-hidden="true" class="fa fa-minus-circle"></span>
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<script id="custom/pager" type="text/ng-template">
  <ul class="ng-cloak pager">
    <li ng-class="{'disabled': !page.active}" ng-repeat="page in pages" ng-switch="page.type">
      <a href="" ng-click="params.page(page.number)" ng-switch-when="prev">&laquo;</a>
      <a href="" ng-click="params.page(page.number)" ng-switch-when="first">
        <span ng-bind="page.number"></span>
      </a>
      <a href="" ng-click="params.page(page.number)" ng-switch-when="page">
        <span ng-bind="page.number"></span>
      </a>
      <a href="" ng-click="params.page(page.number)" ng-switch-when="more">&#8230;</a>
      <a href="" ng-click="params.page(page.number)" ng-switch-when="last">
        <span ng-bind="page.number"></span>
      </a>
      <a href="" ng-click="params.page(page.number)" ng-switch-when="next">&raquo;</a>
    </li>
  </ul>
</script>
<script id="nuevo-usuario.html" type="text/ng-template">
  <div class="modal-header">
    <h3 class="modal-title">Nuevo Usuario</h3>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <form class="form" name="form" ng-submit="register(form)" novalidate>

          <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                                              'has-error': form.name.$invalid && submitted }">
            <label>Nombre</label>

            <input class="form-control" name="name" ng-model="user.name" required type="text"/>
            <p class="help-block" ng-show="form.username.$error.required && submitted">
              El nombre es requerido
            </p>
          </div>

          <div class="form-group" ng-class="{ 'has-success': form.username.$valid && submitted,
                                              'has-error': form.username.$invalid && submitted }">
            <label>Nombre de usuario</label>
            <input class="form-control" mongoose-error name="username" ng-model="user.username" required type="text"/>
            <p class="help-block" ng-show="form.username.$error.required && submitted">
              El nombre de usuario es requerido
            </p>
          </div>

          <div class="form-group" ng-class="{ 'has-success': form.password.$valid && submitted,
                                              'has-error': form.password.$invalid && submitted }">
            <label>Contraseña</label>

            <input class="form-control" mongoose-error name="password" ng-minlength="5" ng-model="user.password" required type="password"/>
            <p class="help-block" ng-show="(form.password.$error.minlength || form.password.$error.required) && submitted">
              Password debe contener minimo 5 caracteres
            </p>
            <p class="help-block" ng-show="form.password.$error.mongoose">
              {{ errors.password }}
            </p>
          </div>
          <div class="form-group" ng-class="{ 'has-success': form.role.$valid && submitted,
                                              'has-error': form.role.$invalid && submitted }">
            <label>Rol</label>
            <select class="form-control" name="role" ng-model="user.role" required>
              <option value="docente">Docente</option>
              <option value="representante">Representante</option>
              <option value="admin">Administrador</option>
            </select>
            <p class="help-block" ng-show="form.role.$error.required && submitted">
              El rol del usuario es requerido
            </p>
          </div>
          <div ng-show="user.role == 'representante' || user.role == 'docente' ">
               <h3>Información del {{user.role}}</h3>
                <div class="form-group">
                  <label>Escuela</label>
                  <select class="form-control" name="escuela" ng-model="usuario.escuela" ng-repeat="escuela in escuelas">
                    <option value="{{escuela._id}}">{{escuela.nombre}}</option>
                  </select>
                </div>
                <div ng-if="user.role === 'docente'">
                     <label>Materias</label>
                     <tags-input name="aulas" required add-from-autocomplete-only="true" class="bootstrap" display-property="codigo" ng-model="usuario.materias" placeholder="Agrega una materia" replace-spaces-with-dashes="false">
                       <auto-complete debounce-delay="0" max-results="10" min-length="0" source="cargarMaterias($query)"></auto-complete>
                     </tags-input>
                </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-success" ng-click="crearUsuario(form)" type="button">
      Agregar
    </button>
    <button class="btn btn-warning" ng-click="cancel()" type="button">
      Cancelar</button>
  </div>

</script>

<script id="editar-usuario.html" type="text/ng-template">
  <div class="modal-header">
    <h3 class="modal-title">Editar Usuario</h3>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <form class="form" name="form" ng-submit="register(form)" novalidate>

          <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                                              'has-error': form.name.$invalid && submitted }">
            <label>Nombre</label>

            <input class="form-control" name="name" ng-model="usuario.name" required type="text"/>
            <p class="help-block" ng-show="form.name.$error.required && submitted">
              El nombre es requerido
            </p>
          </div>

          <div class="form-group" ng-class="{ 'has-success': form.email.$valid && submitted,
                                              'has-error': form.email.$invalid && submitted }">
            <label>Nombre de usuario</label>

            <input class="form-control" mongoose-error name="username" ng-model="usuario.username" required type="text"/>
            <p class="help-block" ng-show="form.email.$error.email && submitted">

            </p>
            <p class="help-block" ng-show="form.email.$error.required && submitted">

            </p>
            <p class="help-block" ng-show="form.email.$error.mongoose">
              {{ errors.email }}
            </p>
          </div>

          <div class="form-group" ng-class="{ 'has-success': form.password.$valid && submitted,
                                              'has-error': form.password.$invalid && submitted }">
            <label>Contraseña</label>

            <input class="form-control" mongoose-error name="password" ng-minlength="3" ng-model="usuario.password" required type="password"/>
            <p class="help-block" ng-show="(form.password.$error.minlength || form.password.$error.required) && submitted">
              Password must be at least 3 characters.
            </p>
            <p class="help-block" ng-show="form.password.$error.mongoose">
              {{ errors.password }}
            </p>
          </div>
        </form>
      </div>
    </div>
    <hr>

  </div>

  <div class="modal-footer">
    <button class="btn btn-success" ng-click="actualizar()" type="button">
      Actualizar
    </button>
    <button class="btn btn-warning" ng-click="cancel()" type="button">
      Cancelar</button>
  </div>
</script>
