<div ng-include="'components/navbar/navbar.html'"></div>
<div class="content-fluid">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-7">
      <div calendar="calendario" class="span8 calendar" ng-model="eventSources" ui-calendar="uiConfig.calendar" ></div>
       <div class="text-center">
       <span aria-hidden="true" class="fa fa-square aprob"> <b>Aprobados</b></span>
        <span aria-hidden="true" class="fa fa-square esper"> <b>En espera</b></span>
       </div>
    </div>
    <div class="col-md-3">
      <tabset justified="true">
        <tab>
          <tab-heading>
            <i class="fa fa-search"></i>
            Búsqueda
          </tab-heading>
          <h2>Criterios de búsqueda</h2>
          <label class="checkbox-inline">
            <input id="opciones_2" name="opciones" ng-click="busqueda.opcion2=false" ng-init="" ng-model="busqueda.opcion1" type="checkbox">
            Búsqueda General
          </label>
          <label class="checkbox-inline">
            <input id="opcion2" name="opciones" ng-click="busqueda.opcion1=false;porAulas()" ng-model="busqueda.opcion2" type="checkbox">
            Aula específica
          </label>
          <div ng-if="busqueda.opcion1">
            <tags-input add-from-autocomplete-only="true" class="bootstrap" ng-model="etiquetas" placeholder="Agrega una etiqueta" replace-spaces-with-dashes="false">
              <auto-complete debounce-delay="0" max-results="10" min-length="0" source="loadTags($query)"></auto-complete>
            </tags-input>
          </div>
          <div ng-if="busqueda.opcion2">
            <tags-input add-from-autocomplete-only="true" class="bootstrap" display-property="nombre" ng-model="aulas" placeholder="Agrega un aula" replace-spaces-with-dashes="false"
            on-tag-adding="true" on-tag-added="filtroPorAulas()" on-tag-removing="true" on-tag-removed="filtroPorAulas()">
              <auto-complete debounce-delay="0" max-results="10" min-length="0" source="cargarAulas($query)"></auto-complete>
            </tags-input>
          </div>
        </tab>
        <tab ng-click="irvan()" ng-if="esAdmin() || esDocente() ">
          <tab-heading>
            <i class="fa fa-list-alt"></i>
            Reservar
          </tab-heading>
          <div ng-if="mostrar" id="reservaDiv">

           <div class="form-group">
             <label>Nombre de la actividad</label>
             <input type="text" class="form-control" ng-model="actividad.nombre" placeholder="Ej: Evaluado 1"/>
           </div>
           <div class="form-group">
             <label>Cantidad de Asistentes</label>
             <input type="number" min="1"  class="form-control"  placeholder="Agrega la cantidad de asistentes"/>
           </div>
           <label>Fecha</label>
            <p class="input-group">
              <input  class="form-control" clear-text="Limpiar" close-text="Cerrar" datepicker-popup="fullDate" is-open="datePicker.opened" max-date="'2020-06-22'" min-date="'2015-01-01'" ng-model="actividad.fecha" type="text" date-disabled="disabled(date, mode)" readonly="true"/>

              <span class="input-group-btn">
                <button class="btn btn-success" ng-click="open($event)" type="button">
                  <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
            </p>
            <div class="row">
              <div class="col-md-5">
                <label>Inicio</label>
                <timepicker mousewheel="false" hour-step="hstep" id="time" minute-step="mstep" ng-change="changed()" ng-model="actividad.inicio" show-meridian="false"></timepicker>
              </div>
              <div class="col-md-5">
                <label>Fin</label>
                <timepicker mousewheel="false" hour-step="hstep" id="time" minute-step="mstep" ng-model="actividad.fin" show-meridian="false"></timepicker>
              </div>
            </div>
           <div class="form-group">
              <label>Aulas</label>
              <tags-input add-from-autocomplete-only="true" class="bootstrap" display-property="nombre" ng-model="actividad.aulas" placeholder="Agrega un aula" replace-spaces-with-dashes="false">
                <auto-complete debounce-delay="0" max-results="10" min-length="0" source="cargarAulas($query)"></auto-complete>
              </tags-input>
            </div>
           <div ng-if="esAdmin()">
	    <div class="form-group">
             <label>Escuela</label>
             <select class="form-control" ng-model="actividad.escuela" ng-repeat="escuela in escuelas" ng-change="rellenarDocentes(escuela._id)">
             <option value="{{escuela._id}}">{{escuela.nombre}} </option>
             </select>
           </div>


           <div class="form-group">
             <label>Docente</label>
             <select class="form-control" ng-model="actividad.docente" ng-change="rellenarMaterias(docente._id)">
             <option  ng-repeat="docente in docentes" value="{{docente}}">{{docente.nombre}} </option>
             </select>
           </div>
           </div>
           <div class="form-group">
             <label>Materia</label>
              <select class="form-control" ng-model="actividad.materia" ng-change="materiaActual(materia.nombre)">
                 <option ng-repeat="materia in materias"  ng-if="materia.imparteEnCiclo == 2 || materia.imparteEnCiclo == 3" value="{{materia._id}}">
                    {{materia.nombre}}
                 </option>
              </select>
           </div>


            <button class="btn btn-danger form-control" ng-click="enviar()">
              Enviar</button>
          </div>

        </tab>
      </tabset>

    </div>
  </div>
  <toaster-container toaster-options="{'position-class': 'toast-top-right'}"></toaster-container>
</div>
<script id="reserva-detalle.html" type="text/ng-template">
  <div class="modal-header">
    <h3 class="modal-title">Detalle de la actividad</h3>
  </div>
  <div class="modal-body">
   <DIV ALIGN="center">Nombre: {{actividad.actividad.nombre}} </DIV>
   <DIV ALIGN="center">Asignatura: {{actividad.materia}}  </DIV>
   <DIV ALIGN="center">Encargado: {{actividad.actividad.encargado}} </DIV>
   <DIV ALIGN="center">Fecha: {{actividad.inicio | date:'fullDate'}} </DIV>
   <DIV ALIGN="center">Hora de inicio: {{actividad.inicio | date:'shortTime'}} </DIV>
   <DIV ALIGN="center">Hora de fin: {{actividad.fin | date:'shortTime'}} </DIV>
   <DIV ALIGN="center">Aulas:
         <div ng-repeat="aula in actividad.aulas">
         <li> {{aula.nombre}} </li>
         </div>
  </DIV>




  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click='ok()'>OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</script>
