<div ng-include="'components/navbar/navbar.html'"></div>
<div class="content-fluid">
  <span us-spinner="{radius:30, width:8, length: 16}"></span>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-7">
      <div calendar="calendario" class="span8 calendar" ng-model="eventSources" ui-calendar="uiConfig.calendar"></div>
      <div class="text-center">
        <span aria-hidden="true" class="fa fa-square esperEscuela">
          <b>
            En espera escuela</b>
        </span>
        <span aria-hidden="true" class="fa fa-square esper">
          <b>
            En espera académica</b>
        </span>
        <span aria-hidden="true" class="fa fa-square aprob">
          <b>Aprobados</b>
        </span>
      </div>
    </div>
    <div class="col-md-3">
      <tabset justified="true">
        <tab>
          <tab-heading>
            <i class="fa fa-search"></i>
            Búsqueda
          </tab-heading>
          <h2>Criterios de búsqueda</h2>

          <label class="checkbox-inline">
            <input id="opcion2" name="opciones" ng-click="busqueda.opcion1=false;porAulas()" ng-model="busqueda.opcion2" type="checkbox">
            Aula específica
          </label>
          <div ng-if="busqueda.opcion1">
            <tags-input add-from-autocomplete-only="true" class="bootstrap" ng-model="etiquetas" placeholder="Agrega una etiqueta" replace-spaces-with-dashes="false">
              <auto-complete debounce-delay="0" max-results="10" min-length="0" source="loadTags($query)"></auto-complete>
            </tags-input>
          </div>
          <div ng-if="busqueda.opcion2">
            <tags-input add-from-autocomplete-only="true" class="bootstrap" display-property="nombre" ng-model="aulas" on-tag-added="filtroPorAulas()" on-tag-adding="true" on-tag-removed="filtroPorAulas()" on-tag-removing="true" placeholder="Agrega un aula" replace-spaces-with-dashes="false">
              <auto-complete debounce-delay="0" max-results="10" min-length="0" source="cargarAulas($query)"></auto-complete>
            </tags-input>
          </div>
        </tab>
        <tab ng-click="irvan()" ng-show="esAdmin() || esDocente() || esRepresentante() ">
          <tab-heading>
            <i class="fa fa-list-alt"></i>
            Reservar
          </tab-heading>
          <div id="reservaDiv" ng-if="mostrar">
            <form class="form" name="form" ng-submit="enviar(form)" novalidate>
              <div class="form-group" ng-class="{ 'has-success': form.nombre.$valid && submitted,
                                                  'has-error': form.nombre.$invalid && submitted }">
                <label>Nombre de la actividad</label>
                <input class="form-control" name="nombre" ng-model="actividad.nombre" placeholder="Ej: Evaluado 1" required type="text"/>
                <p class="help-block" ng-show="form.nombre.$error.required && submitted">
                  Campo requerido
                </p>
              </div>
              <div class="form-group" ng-class="{ 'has-success': form.asistentes.$valid && submitted,
                                                  'has-error': form.asistentes.$invalid && submitted }">
                <label>Cantidad de Asistentes</label>
                <input class="form-control" min="1" name="asistentes" ng-model="actividad.asistentes" placeholder="Agrega la cantidad de asistentes" required type="number"/>
                <p class="help-block" ng-show="form.asistentes.$error.required && submitted">
                  Campo requerido
                </p>
              </div>
              <label>Fecha</label>
              <p class="input-group" ng-class="{ 'has-success': form.fecha.$valid && submitted,
                                                  'has-error': form.fecha.$invalid && submitted }">
                <input class="form-control" clear-text="Limpiar" close-text="Cerrar" datepicker-popup="fullDate" is-open="datePicker.opened" max-date="cicloActual.finCiclo" min-date="minDate" name="fecha"
                ng-model="actividad.fecha" readonly="true" show-button-bar="false" required type="text"/>
                <span class="input-group-btn">
                  <button class="btn btn-success" ng-click="openCalendar($event)" type="button">
                    <i class="glyphicon glyphicon-calendar"></i>
                  </button>
                </span>
                <p class="help-block" ng-show="form.fecha.$error.required && submitted">
                  Campo requerido
                </p>

              </p>
              <div class="row">
                <div class="col-md-5" ng-class="{ 'has-success': form.inicio.$valid && submitted,
                                                'has-error': form.inicio.$invalid && submitted }">
                  <label>Inicio</label>
                  <timepicker hour-step="hstep" id="time" min="hMin" minute-step="mstep" mongoose-error mousewheel="false" name="inicio" ng-change="" ng-model="actividad.inicio" show-meridian="false"></timepicker>
                </div>
                <div class="col-md-5" ng-class="{ 'has-success': form.fin.$valid && submitted,
                                                'has-error': form.fin.$invalid && submitted }">
                  <label>Fin</label>
                  <timepicker hour-step="hstep" id="time" minute-step="mstep" mousewheel="false" name="fin" ng-model="actividad.fin" show-meridian="false"></timepicker>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5" ng-class="{ 'has-success': form.inicio.$valid && submitted,
                                                  'has-error': form.inicio.$invalid && submitted }">
                  <p class="help-block" ng-show="form.inicio.$error.mongoose">
                    {{ errors.inicio }}
                  </p>

                </div>
                <div class="col-md-5" ng-class="{ 'has-success': form.fin.$valid && submitted,
                                                  'has-error': form.fin.$invalid && submitted }">
                  <p class="help-block" ng-show="form.fin.$error.mongoose">
                    {{ errors.fin }}
                  </p>
              </div>
             </div>
             <div class="row">
               <div class="col-md-10 has-warning">
                <p class="help-block" ng-show="form.inicio.$error.mongoose || form.fin.$error.mongoose  ">
                 Tip: la hora válida para una reserva es entre 6:20 a 20:15
                </p>
               </div>
             </div>
              <div class="form-group" ng-class="{ 'has-success': form.aulas.$valid && submitted,
                                                  'has-error': form.aulas.$invalid && submitted }">
                <label>Aulas</label>
                <tags-input add-from-autocomplete-only="true" class="bootstrap" display-property="nombre" name="aulas" ng-model="actividad.aulas" placeholder="Agrega un aula" replace-spaces-with-dashes="false" required>
                  <auto-complete debounce-delay="0" max-results="10" min-length="0" source="cargarAulas($query)"></auto-complete>
                </tags-input>
                <p class="help-block" ng-show="form.aulas.$error.required && submitted">
                  Campo requerido
                </p>

              </div>
              <div ng-if="esAdmin()">
                <div class="form-group" ng-class="{ 'has-success': form.escuela.$valid && submitted,
                                                    'has-error': form.escuela.$invalid && submitted }">
                  <label>Escuela</label>
                  <select name="escuela" class="form-control" ng-change="rellenarDocentes(escuela._id)" ng-model="actividad.escuela"  required>
                   <option value="">--- Seleccione una escuela ---</option>
                    <option ng-repeat="escuela in escuelas" value="{{escuela._id}}">{{escuela.nombre}}
                    </option>
                  </select>
                  <p class="help-block" ng-show="form.aulas.$error.required && submitted">
                    Campo requerido
                  </p>
                </div>
              </div>
              <div ng-if="esRepresentante() || esAdmin()">
                <div class="form-group">
                  <label>Docente</label>
                  <select class="form-control" ng-change="rellenarMaterias()" ng-model="actividad.docente">
                     <option value="">--- Seleccione un docente ---</option>
                    <option ng-repeat="docente in docentes" value="{{docente._id}}">{{docente.nombre}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label>Materia</label>
                <select class="form-control"  ng-model="actividad.materia">
                  <option ng-if="materia.imparteEnCiclo == cicloActual.numero || materia.imparteEnCiclo == 3" ng-repeat="materia in materias" value="{{materia._id}}">
                    {{materia.nombre}}
                  </option>
                </select>
              </div>
              <div ng-if="esRepresentante()">
               <label>Enviar directamente a Académica</label>
               <input type="checkbox" name="repre" ng-model="solicitud.enviarAdmin">
              </div>
              <button class="btn btn-danger form-control btn-sm" type="submit">
                Enviar</button>
            </form>
          </div>

        </tab>
      </tabset>

    </div>
  </div>
  <toaster-container toaster-options="{'position-class': 'toast-top-right'}"></toaster-container>
</div>
